.cardData {
  background-color: rgba(0, 0, 0, 0.461);
  border-radius: 10px;
  padding: 10px;
  display: block;
  min-width: 120px;
  margin: 15px;
  font-size: 30px;
}

.cardData:hover {
  transform: scale(1.1);
}

.cardTitle {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.cardValue {
  color: gold;
}
